/** @format */

.dropdownLabel {
  position: relative;
  margin-right: 12px;
  color: #fff;
  font-size: 18px;
}

select {
  background-image: url("../../assets/downArrow.svg");
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  background-position: calc(100% - 3px) center;
  background-repeat: no-repeat;
  background-size: 15px;
  padding:15px 20px 15px 10px;
  background-color: #efd9dc;
  border-radius: 6px;
  outline: none;
  color: #5a5a5a;
}
