.stepperSection{
    margin: 30px 0;
}
.Formcontainer {
    width: 80%;
    margin: 20px auto;
    backdrop-filter: blur(490px);
    padding: 30px 100px 100px;
}


.nextButton {
    background: transparent linear-gradient(180deg, #FFA908 0%, #7B0480 100%) 0% 0% no-repeat padding-box;
    border-radius: 37px;
    color: #FFFFFF;
    font-size: 18px;
    border: none;
    padding: 9px 60px;
    position: absolute;
    bottom: 3%;
    right: 8%;
}

.MuiButton-text{
    margin: 10px !important;
}
.marginM{
    margin:20px 0 ;
}
.input:hover{
    border-color: #8B0707;
    outline: none;
}


.MultiSelectDropdown p{
    color: #fff;
    font-size: 18px;
}
.backButton{
    position: absolute;
    bottom: 4%;
    left: 8%;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    text-transform: none;
    background-color: transparent;
    border: none;
    padding: 0px 0px;
    text-decoration: none;
}


.traitLabel{
    display: block;
    color: #FFFFFF;
    font-size: 18px;
}

.tokenContainer{
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #FF79E0;
}
.tokenContainer input{
    width: 100px !important;
}
.addButton{
    background-image: linear-gradient(to right,#7A1C8D,#3B0460) ; 
    background: transparent linear-gradient(104deg, #7A1C8D 0%, #3B0460 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #FF79E0;
    border-radius: 20px;
    font-size: 16px;
    color: #fff;
    padding: 6px 4px;
}



/* Media queries */

@media only screen and (max-width:427px){
    .MuiStepLabel-label{
        font-size: 10px;
    }
}

