.headerSection{
    padding: 7px 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 5px;
}
.headerTitle{
    width: 158px;
}
.logo{
    width: 100%;
}
.userInfo{
    background-color: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 37px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
}
.circle{
    height: 64px;
    width: 64px;
    border-radius: 50%;
    background-color: orange;
}
.id{
    padding: 10px;
    color: #363840;
    font-size: 23px;
    font-family: var(--funta--FuturaBook);
}
.mainTextContainer {
    text-align: center;
}
.mainTextContainer h1 {
    color: #FFFFFF;
    font-size: 120px;
    font-family: var(--font--Punta);
    letter-spacing: 2px;
}
.mainTextContainer p {
    color: #FFFFFF;
    font-size: 22px;
    line-height: 1.5;
    letter-spacing: 1px;
}
.diamondImg{
    height: 30px;
    width: 20px;
}

/* media queries */

@media only screen and (max-width:427px){
    .mainTextContainer h1 {
        font-size: 60px;
    }
    .mainTextContainer p {
        font-size: 14px;
    }
    .headerSection {
       padding: 10px;
    }
    .id {
        padding: 5px;
        color: #363840;
        font-size: 12px;
    }
    .circle{
        height: 30px;
        width: 30px;
    }
    .logo {
        width: 60%;
    }
}