

.lineSection{
    margin: 30px 0;
    display: flex;
    column-gap: 130px;
    justify-content: space-around;
    position: relative;
}
/* .lineSection::after{
    content: '';
    position: absolute;
    top: 0;
    left:0;
    background: #FDAFAF;
    height: 2px;
    width: 100%;
} */
.first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
}
.oneText{
    font-size: 20px;
    color: #FFFFFF;
}
.secondText{
    font-size: 20px;
    color: #FFA908;
}
.one{
    height: 30px;
    width: 30px;
    color: black;
    border-radius: 50%;
    background-color: #FFFFFF;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.second{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFA908;
    color: #FFFFFF;
    font-size: 23px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    z-index: 1;
}
hr{
    border: none;
    border-top: 2px dashed #FDAFAF;
    color: #FDAFAF;
    height: 3px;
    width: 90%;
    position: absolute;
    top: 15px;
    left: 40x;
}