.serach-wrapper{
background: #EFD9DC 0% 0% no-repeat padding-box;
box-shadow: inset 0px 3px 6px #00000029;
border: 1px solid #8B0707;
height: 60px;
}
.highlightOption {
    background: #EFD9DC;
    color: #fff;
}
.serachWrapper{
    background: #EFD9DC 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 3px 6px #00000029;
    border: 1px solid #8B0707 !important;
}
.optionListContainer{
    margin: 10px 0;
    background: none;
    border: none;
    backdrop-filter: blur(49);
}
.option{
    margin: 10px 0;
}
