<style>
    .playstation-page .banner-2 {
        width: 75%;
        margin: auto;
        position: absolute;
        top: 180px;
        left: 50%;
        transform: translateX(-50%);
    }

    .playstation-page .banner-wrapper {
        position: relative;
    }

    .playstation-page .medium-h {
        font-size: 3.2rem;
        font-weight: 600;
    }

    .playstation-page .blue-one {
        color: #134192;
    }

    .playstation-page p {
        font-size: 2rem;
        font-weight: 500;
        max-width: 900px;
        text-align: center;
        color: #000;
    }

    .flex-one {
        display: flex;
    }

    .flex-column {
        flex-direction: column;
    }

    .flex-justify {
        justify-content: center;
    }

    .flex-align {
        align-items: center;
    }

    .desc-wrapper {
        margin: 5rem 0;
        padding: 0 7rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background: #f0f0f0;
    }

    .desc-wrapper .desc-item {
        margin: 5rem 0;
        flex-basis: 45%;
    }

    .playstation-page .txt-wrap {
        margin-left: 6rem;
    }

    .playstation-page .txt-wrap p {
        text-align: left;
    }

    .playstation-page .img-wrap {
        width: 200px;
    }

    .playstation-page .product-heading {
        text-align: center;
        font-size: 6rem;
        max-width: 60%;
        margin: auto;
        font-weight: 400;
        word-spacing: 10px;
    }

    .playstation-page .products {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .playstation-page .product-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: 2rem;
    }

    .playstation-page .product-item .prod-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .playstation-page .product-item span {
        text-align: left;
    }

    .playstation-page .product-item button {
        width: auto;
        font-size: 1.8rem;

    }

    .foot-banner {
        text-align: center;
    }

    .foot-banner button {
        background: #4572ed;
        margin: 3rem;
        border-radius: 25px;
    }

    .imp-txt.flex-one.flex-column.flex-justify.flex-align {
        margin-top: 4rem;
    }

    .playstation-page .flex-one.flex-column.flex-align {
        width: 31%;
    }

    .all-in {
        margin: 4rem;
        flex-basis: 40%;
        border: 2px solid #4572ed;
    }

    .all-in h2 {
        text-align: center;
        font-size: 3.6rem;
        font-weight: 600;
    }

    ul.terms {
        padding: 0 60px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .playstation-page .video-wrap {
        padding: 8rem 0 4rem !important;
        width: 60%;
        margin: auto;
    }
</style>
<section class="playstation-page">
    <div class="banner-wrapper">
        <div class="main-banner"><img class="img-responsive"
                src="https://uaestore.sony-mea.com/actualused/banners/SpideMan.jpg" alt="main-banner" /></div>
    </div>
    <div class="video-wrap" style="padding: 2rem 5rem;"><iframe title="YouTube video player"
            src="https://www.youtube.com/embed/4yuEnY9ItqA" width="100%" height="600px" frameborder="0"
            allowfullscreen=""></iframe></div>
    <div class="product-wrapper">
        <div class="all-in">
            <ul>
                <li class="product-item">
                    <div class="prod-wrap">
                        <p class="image-with"><img
                                src="https://uaestore.sony-mea.com/actualused/games/ratchet-and-clank-rift-apart-screenshot-01-ps5-en-15jun20.jpeg"
                                alt="" /></p>
                    </div>
                    <div class="txt-wrap">
                        <p><strong>Ratchet &amp; Clank: Rift Apart</strong></p>
                        <p class="tx">Blast your way through an interdimensional adventure with Ratchet and Clank.</p>
                        <button>Shop Now</button>
                    </div>
                </li>
            </ul>
        </div>
        <div class="all-in">
            <ul>
                <li class="product-item">
                    <div class="prod-wrap">
                        <p class="image-with"><img
                                src="https://uaestore.sony-mea.com/actualused/games/ps5-returnal-video-thumb-block-05-en-110620.jpeg"
                                alt="" /></p>
                    </div>
                    <div class="txt-wrap">
                        <p><strong>Returnal</strong></p>
                        <p class="tx">Break the cycle of chaos on an always-changing alien planet.</p>
                        <button>Shop Now</button>
                    </div>
                </li>
            </ul>
        </div>
        <div class="all-in">
            <ul>
                <li class="product-item">
                    <div class="prod-wrap">
                        <p class="image-with"><img
                                src="https://uaestore.sony-mea.com/actualused/games/spiderman-miles-morales-screenshot-04-disclaimer-en-01oct20.png"
                                alt="" /></p>
                    </div>
                    <div class="txt-wrap">
                        <p><strong>Marvel's Spider-Man: Miles Morales</strong></p>
                        <p class="tx">Experience the rise of Miles Morales as the new hero masters incredible, explosive
                            new powers to become his own Spider-Man.</p>
                        <button>Shop Now</button>
                    </div>
                </li>
            </ul>
        </div>
        <div class="all-in">
            <ul>
                <li class="product-item">
                    <div class="prod-wrap">
                        <p class="image-with"><img
                                src="https://uaestore.sony-mea.com/actualused/games/Deathloop-screenshot-01-en-15sep21.jpeg"
                                alt="" /></p>
                    </div>
                    <div class="txt-wrap">
                        <p><strong>DEATHLOOP</strong></p>
                        <p class="tx">Take part in the eternal struggle between two extraordinary assassins.</p>
                        <button>Shop Now</button>
                    </div>
                </li>
            </ul>
        </div>
        <div class="all-in">
            <ul>
                <li class="product-item">
                    <div class="prod-wrap">
                        <p class="image-with"><img
                                src="https://uaestore.sony-mea.com/actualused/games/ps5-sackboy-video-thumb-block-06-en-110620.jpeg"
                                alt="" /></p>
                    </div>
                    <div class="txt-wrap">
                        <p><strong>Sackboy&trade;: A Big Adventure</strong></p>
                        <p class="tx">Take Sackboy on an epic 3D platforming adventure with your friends.</p>
                        <button>Shop Now</button>
                    </div>
                </li>
            </ul>
        </div>
        <div class="all-in">
            <ul>
                <li class="product-item">
                    <div class="prod-wrap">
                        <p class="image-with"><img
                                src="https://uaestore.sony-mea.com/actualused/games/demons-souls-screenshot-05-disclaimer-en-30sept20.jpeg"
                                alt="" /></p>
                    </div>
                    <div class="txt-wrap">
                        <p><strong>Demon's Souls</strong></p>
                        <p class="tx">Entirely rebuilt from the ground up, this remake invites you to experience the
                            unsettling story and ruthless combat of Demon&rsquo;s Souls&trade;.</p>
                        <button>Shop Now</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="foot-banner"><img class="img-responsive"
            src="https://uaestore.sony-mea.com/actualused/banners/Banner.jpg" alt="" /> <button>Find out more
            Games</button></div>
    <ul class="terms">
        <li class="term-i"><img
                src="https://uaestore.sony-mea.com/actualused/games/marvel-logo-brick-03-ps5-18jun20.jpeg"
                alt="Marvel Logo" width="100px" /></li>
        <li class="term-i">&copy; 2020 MARVEL</li>
        <li class="term-i">&copy; 2020 Sony Interactive Entertainment LLC</li>
        <li class="term-i">Developed by Insomniac Games, Inc</li>
        <li class="term-i">Published by Sony Interactive Entertainment Europe Limited</li>
        <li class="term-i">&copy;2021 Sony Interactive Entertainment LLC</li>
        <li class="term-i">Created and developed by Insomniac Games, Inc</li>
    </ul>
</section>