<style>
    .playstation-page .banner-2 {
        width: 75%;
        margin: auto;
        position: absolute;
        top: 180px;
        left: 50%;
        transform: translateX(-50%);
    }

    .playstation-page .banner-wrapper {
        position: relative;
    }

    .playstation-page .medium-h {
        font-size: 3.2rem;
        font-weight: 600;
    }

    .playstation-page .blue-one {
        color: #134192;
    }

    .playstation-page p {
        font-size: 2rem;
        font-weight: 500;
        max-width: 900px;
        text-align: center;
        color: #000;
    }

    .flex-one {
        display: flex;
    }

    .flex-column {
        flex-direction: column;
    }

    .flex-justify {
        justify-content: center;
    }

    .flex-align {
        align-items: center;
    }

    .desc-wrapper {
        margin: 5rem 0;
        padding: 0 7rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background: #f0f0f0;
    }

    .desc-wrapper .desc-item {
        margin: 5rem 0;
        flex-basis: 45%;
    }

    .playstation-page .txt-wrap {
        margin-left: 6rem;
    }

    .playstation-page .txt-wrap p {
        text-align: left;
    }

    .playstation-page .img-wrap {
        width: 200px;
    }

    .playstation-page .product-heading {
        text-align: center;
        font-size: 6rem;
        max-width: 60%;
        margin: auto;
        font-weight: 400;
        word-spacing: 10px;
    }

    .playstation-page .products {
        display: flex;
        gap: 2rem;
        justify-content: space-around;
        flex-direction: column;
    }

    .playstation-page .product-item {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .playstation-page .product-item .prod-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .playstation-page .product-item span {
        text-align: left;
    }

    .playstation-page .product-item button {
        font-size: 1.8rem;
        background: #4572ed;
    }

    .imp-txt.flex-one.flex-column.flex-justify.flex-align {
        margin-top: 4rem;
    }

    .playstation-page .flex-one.flex-column.flex-align {
        width: 31%;
    }

    .all-in {
        margin: 2rem;
        padding: 2rem;
    }

    .all-in h2 {
        text-align: center;
        font-size: 3.6rem;
        font-weight: 600;
    }

    .products .all-in:nth-child(2n) {
        background: #eaeaea;
        margin: 0;
        padding: 4rem;
    }

    ul.terms {
        list-style: square;
        padding: 0 60px;
    }
</style>
<section class="playstation-page">
    <div class="banner-wrapper">
        <div class="main-banner"><img class="img-responsive"
                src="https://uaestore.sony-mea.com/actualused/banners/Accessories.jpg" alt="main-banner" /></div>
    </div>
    <div class="product-wrapper">
        <div class="all-in">
            <h2>DualSense&trade; wireless controller</h2>
            <ul>
                <li class="product-item">
                    <div class="prod-wrap">
                        <p class="image-with"><img
                                src="https://uaestore.sony-mea.com/actualused/dual-sense/DUALSENSE_01_WHITE_COSMICRED_MIDNIGHTBLACK_PR_HOR_RGB_WithNotice.jpg"
                                alt="" /></p>
                        <a href="https://uaestore.sony-mea.com/gaming-devices/playstation-dual-sense"><button
                                style="width: auto;">Learn More</button></a>
                    </div>
                    <div class="txt-wrap">
                        <p class="tx">Discover a deeper, highly immersive gaming experience1 with the innovative new
                            PS5&trade; controller, featuring haptic feedback and dynamic trigger effects2. The DualSense
                            wireless controller also includes a built-in microphone and create button, all integrated
                            into an iconic, comfortable design.</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="all-in">
            <h2>DualSense&trade; charging station</h2>
            <ul>
                <li class="product-item">
                    <div class="txt-wrap">
                        <p class="tx">Charge up to two DualSense wireless controllers simultaneously without having to
                            connect them to your PlayStation 5 console.</p>
                    </div>
                    <div class="prod-wrap">
                        <p class="image-with"><img
                                src="http://main.buildabazaar.com/img/shrd/html_widget_images/01/58/372/0d623de400e95_chargingstation.png.989xx.png"
                                alt="" /></p>
                        <a href=" https://uaestore.sony-mea.com/joysticks-controllers/sony-playstation-5-dualsense-charging-station-white/p-0158372-86532332894-cat.html#variant_id=0158372-86532332894
">
                            <button>Learn More</button></a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="all-in">
            <h2>PULSE 3D&trade; wireless headset</h2>
            <ul>
                <li class="product-item">
                    <div class="prod-wrap">
                        <p class="image-with"><img
                                src="https://uaestore.sony-mea.com/actualused/pulse/WIRELESS_HEADSET_01_PR_RGB_91597.jpg"
                                alt="" /></p>
                        <a
                            href=" https://uaestore.sony-mea.com/headphones/sony-playstation-pulse-3d-wireless-headset-ps5-white/p-0158372-5205326332-cat.html#variant_id=0158372-5205326332">
                            <button>Learn More</button></a>
                    </div>
                    <div class="txt-wrap">
                        <p class="tx">Play in comfort with a wireless headset fine-tuned for 3D Audio on PS5 consoles2.
                            Featuring USB Type-C&reg; charging and dual noise-cancelling microphones, you can keep the
                            party chat flowing with crystal-clear voice capture3.</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="all-in">
            <h2>Media remote</h2>
            <ul>
                <li class="product-item">
                    <div class="txt-wrap">
                        <p class="tx">Conveniently control movies, streaming services4 and more on your PS5 console with
                            an intuitive layout.</p>
                    </div>
                    <div class="prod-wrap">
                        <p class="image-with"><img
                                src="http://main.buildabazaar.com/img/shrd/html_widget_images/01/58/372/5906ffb0d9737_mediaremote02prrgb26838.png.989xx.png"
                                alt="" /></p>
                        <a
                            href="https://uaestore.sony-mea.com/accessories/sony-playstation-5-media-remote/p-0158372-81017382799-cat.html#variant_id=0158372-81017382799">
                            <button>Learn More</button></a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="all-in">
            <h2>HD camera</h2>
            <ul>
                <li class="product-item">
                    <div class="prod-wrap">
                        <p class="image-with"><img
                                src="https://uaestore.sony-mea.com/actualused/camera/HD_CAMERA_FAMILY_RGB_46842.jpg"
                                alt="" /></p>
                        <a
                            href="https://uaestore.sony-mea.com/cameras/sony-playstation-5-hd-camera/p-0158372-42776162480-cat.html#variant_id=0158372-42776162"><button>Learn
                                More</button></a>
                    </div>
                    <div class="txt-wrap">
                        <p class="tx">Add yourself to your gameplay videos and broadcasts3 with smooth, sharp, full-HD
                            capture.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <ul class="terms">
        <li class="term-i">Compared to DUALSHOCK&reg;4 wireless controller.</li>
        <li class="term-i">Available when feature is supported by game.</li>
        <li class="term-i">Internet and account for PlayStation&trade; Network required.</li>
        <li class="term-i">Internet and account for PlayStation Network required. Streaming services may require paid
            subscription and are not available in all countries.</li>
        <li class="term-i">"PlayStation", "PlayStation Family Mark", "PS4", "PS5 logo", "PS5" and "DualSense" are
            registered trademarks or trademarks of Sony Interactive.</li>
        <li class="term-i">Entertainment Inc. "SONY" is a registered trademark of Sony Corporation.</li>
        <li class="term-i">USB Type-C&reg;is a registered trademark of USB Implementers Forum.</li>
    </ul>
</section>