<style>
    .playstation-page .banner-2 {
        width: 75%;
        margin: auto;
        position: absolute;
        top: 180px;
        left: 50%;
        transform: translateX(-50%);
    }

    .playstation-page .banner-wrapper {
        position: relative;
    }

    .playstation-page .medium-h {
        font-size: 3.2rem;
        font-weight: 600;
    }

    .playstation-page .blue-one {
        color: #134192;
    }

    .playstation-page p {
        font-size: 2rem;
        font-weight: 500;
        max-width: 900px;
        text-align: center;
        color: #000;
    }

    .flex-one {
        display: flex;
    }

    .flex-column {
        flex-direction: column;
    }

    .flex-justify {
        justify-content: center;
    }

    .flex-align {
        align-items: center;
    }

    .desc-wrapper {
        margin: 7rem;
    }

    .desc-wrapper .desc-item {
        margin: 5rem 0;
    }

    .playstation-page .txt-wrap {
        margin-left: 6rem;
    }

    .playstation-page .txt-wrap p {
        text-align: left;
    }

    .playstation-page .img-wrap {
        width: 200px;
    }

    .playstation-page .product-heading {
        text-align: center;
        font-size: 6rem;
        max-width: 60%;
        margin: auto;
        font-weight: 400;
        word-spacing: 10px;
    }

    .playstation-page .products {
        display: flex;
        gap: 2rem;
        justify-content: space-around;
    }

    .playstation-page .product-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        flex-basis: 25%;
    }

    .playstation-page .product-item span {
        position: absolute;
        top: 70px;
        right: 52%;
        width: 40%;
        text-align: right;
    }

    .playstation-page .product-item button {
        width: auto;
        font-size: 1.8rem;
    }

    .imp-txt.flex-one.flex-column.flex-justify.flex-align {
        margin-top: 4rem;
    }

    .playstation-page .price {
        color: #134192;
    }

    ul.terms {
        margin: 5rem 7rem;
    }

    ul.terms li {
        margin: 1rem;
    }
</style>
<section class="playstation-page">
    <div class="banner-wrapper">
        <div class="banner-1"><img class="img-responsive"
                src="https://uaestore.sony-mea.com/actualused/banners/DualSense.jpg" alt="ps5" /></div>
        <div class="desc-wrapper" style="margin-top: 0;">
            <div class="desc-item flex-one flex-align">
                <div class="img-wrap">&nbsp;</div>
                <div class="txt-wrap">
                    <p>Feel physically responsive feedback to your in-game actions with dual actuators which replace
                        traditional rumble motors. In your hands, these dynamic vibrations can simulate the feeling of
                        everything from environments to the recoil of different weapons.</p>
                </div>
            </div>
            <div class="desc-item flex-one flex-align">
                <div class="img-wrap">&nbsp;</div>
                <div class="txt-wrap">
                    <p>Experience varying levels of force and tension as you interact with your in-game gear and
                        environments. From pulling back an increasingly tight bowstring to hitting the brakes on a
                        speeding car, feel physically connected to your on-screen actions.</p>
                </div>
            </div>
            <div class="desc-item flex-one flex-align">
                <div class="img-wrap">&nbsp;</div>
                <div class="txt-wrap">
                    <p>Chat with friends online3 using the built-in microphone &mdash;or by connecting a headset to the
                        3.5-mmjack. Easily switch off voice capture at a moment&rsquo;s notice with the dedicated mute
                        button.</p>
                </div>
            </div>
        </div>
        <div class="product-wrapper">
            <h2 class="product-heading" style="color: #134192;">Heighten Your Senses&trade;</h2>
            <p style="text-align: center; margin: 2rem auto;">Personalise your set-up and add more players to the mix
                with an additional DualSense wireless controller.</p>
            <ul class="products">
                <li class="product-item">
                    <p class="image-with"><img
                            src="https://uaestore.sony-mea.com/actualused/dual-sense/DUALSENSE_MIDNIGHTBLACK_01_PR_RGB_WithNotice.jpg"
                            alt="" /></p>
                    <p class="name"><strong>DualSense wireless controller Midnight Black</strong></p>
                    <p>Ignite your PS5 gaming nights with this sleek controller featuring two subtly different shades of
                        black.</p>
                    <p class="price">AED 319.00</p>
                    <a
                        href="https://uaestore.sony-mea.com/joysticks-controllers/sony-ps5-dualsense-wireless-controller-midnight-black/p-0158372-95353267373-cat.html#variant_id=0158372-95353267373"><button>Shop
                            Now</button></a>
                </li>
                <li class="product-item">
                    <p class="image-with"><img
                            src="https://uaestore.sony-mea.com/actualused/dual-sense/DUALSENSE_COSMICRED_01_PR_RGB_WithNotice.jpg"
                            alt="" /></p>
                    <p class="name"><strong>DualSense wireless controller Cosmic Red</strong></p>
                    <p>Explore new gaming frontiers with a vivid red design, complete with matching button details.</p>
                    <p class="price">AED 339.00</p>
                    <a
                        href="https://uaestore.sony-mea.com/joysticks-controllers/sony-ps5-dualsense-wireless-controller-cosmic-red/p-0158372-43936077650-cat.html#variant_id=0158372-43936077650"><button>Shop
                            Now</button></a>
                </li>
                <li class="product-item">
                    <p class="image-with"><img
                            src="https://uaestore.sony-mea.com/actualused/dual-sense/DUALSENSE_01_PR_RGB_11899.jpg"
                            alt="" /></p>
                    <p class="name"><strong>DualSense wireless controller</strong></p>
                    <p>Bring player two into your games with the original two-tone DualSense&trade; wireless controller
                        design.</p>
                    <p class="price">AED 319.00</p>
                    <a
                        href="https://uaestore.sony-mea.com/joysticks-controllers/sony-playstation-5-dualsense-wireless-controller/p-0158372-39936941122-cat.html#variant_id=0158372-39936941122"><button>Shop
                            Now</button></a>
                </li>
            </ul>
        </div>
        <ul class="terms" style="list-style: square;">
            <li class="term-i">Compared to DUALSHOCK 4 wireless controller.</li>
            <li class="term-i">Available when feature is supported by game.</li>
            <li class="term-i">Internet and account for PlayStation&trade; Network required. Account holders must be 7+,
                under 18s require parental consent.</li>
            <li class="term-i">Full terms apply: <a target="_blank" href="https://www.playstation.com/PSNTerms"
                    rel="noopener">playstation.com/PSNTerms</a>.</li>
            <li class="term-i">Always update your PS5 system software and the wireless controller device software to the
                latest version.</li>
            <li class="term-i">"PlayStation", "PlayStation Family Mark", "PS5 logo", "PS5", "DualSense" and "DUALSHOCK"
                are registered trademarks or trademarks of Sony Interactive Entertainment Inc. "SONY" is a registered
                trademark of Sony Corporation</li>
            <li class="term-i">"Heighten Your Senses" is a registered trademark or trademark of Sony Interactive
                Entertainment LLC.</li>
            <li class="term-i">USB Type-C&reg; is a registered trademark of USB Implementers Forum.</li>
        </ul>
    </div>
</section>