*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: var(--font--FuturaBook);
}

h2 {
  color: #FFFFFF;
  font-size: 28px;
  font-weight: bolder;
  letter-spacing: 0.5px;
  margin: 20px 0;
}

@font-face {
  font-family: Punta;
  src: url(./Fonts/Punta.otf);
}

@font-face {
  font-family: Futura;
  src: url(./Fonts/futur.ttf);
}
@font-face {
  font-family: Futura;
  src: url(./Fonts/FuturaBook.ttf);
}

:root{
  --font--Punta: Punta;
  --font--Futura: Futura;
  --font--FuturaBook:FuturaBook
}
